<div id="<%= dom_id campagne %>">
  <p>
    
    <%= campagne.title %>
  </p>

  <p>
    <strong>Heroimg:</strong>
    <%= campagne.heroImg %>
  </p>

  <div class="container">
   
    <%= campagne.content %>
  </div>

  <p>
    <strong>Start date:</strong>
    <%= campagne.start_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campagne.status %> d'approbation
  </p>

  <p>
    <strong>Montant Souhaité:</strong>
    <%= campagne.amount %>
  </p>

  <p>
    <strong>Auteur:</strong>
    <%= campagne.user.full_name %>
  </p>

</div>
