<div id="<%= dom_id about %>">
  <p>
    <strong>Title:</strong>
    <%= about.title %>
  </p>

  <p>
    <strong>Img main:</strong>
    <%= about.img_main %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= about.content %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= about.country %>
  </p>

  <p>
    <strong>Donator:</strong>
    <%= about.donator %>
  </p>

  <p>
    <strong>Projets:</strong>
    <%= about.projets %>
  </p>

  <p>
    <strong>User:</strong>
    <%= about.user_id %>
  </p>

</div>
