<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Tailwindcss -->
     <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Header -->
     <%= render "shared/layouts/header" %>
  </head>

  <body class="bg-red-400">
    <%= yield %>
    <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>

    <!--Footer  -->
     <%= render "shared/layouts/footer" %>
  </body>
</html>
